body{
    background-color: gray
}
.pokemon-list {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 50px;

}

.pokemon-card {
    background-color:bisque;
    text-align: center;

}